[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Deatrin
	email = jennexa@gmail.com
	signingkey = 0x44D2585E28D0E1FA
